@model HotelManagement.Models.Customer

@{
    ViewData["Title"] = "Tạo Mới Khách Hàng";
    Layout = "~/Areas/AdminHotels/Views/Shared/Admin.cshtml";
}

<h1 style="color: #197fca;">Tạo Mới Khách Hàng</h1>

<h4 style="color: #197fca;">Thông Tin Khách Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color: #197fca;">Họ và Tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" style="color: #197fca;">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label" style="color: #197fca;">Số Điện Thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label" style="color: #197fca;">Giới Tính</label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label" style="color: #197fca;">Ngày Sinh</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label" style="color: #197fca;">Địa Chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label" style="color: #197fca;">Mật Khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn" style="background-color: #197fca; color: white;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color: #197fca;">Quay Lại Danh Sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
