@model HotelManagement.Models.Admin

@{
    ViewData["Title"] = "Chỉnh Sửa";
}

<h1 style="color: #197fca;">Chỉnh Sửa</h1>

<h4 style="color: #197fca;">Quản Trị Viên</h4>
<hr style="border-color: #197fca;" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color: #ec4e45;"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" style="color: #ec4e45;"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label" style="color: #ec4e45;"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label" style="color: #ec4e45;"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label" style="color: #ec4e45;"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" style="background-color: #197fca; border-color: #197fca;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color: #197fca;">Quay Lại Danh Sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
